@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

#main-cart {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.slider-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.range-slider {
    position: relative;
    height: 40px;
}

input[type="range"] {
    /* -webkit-appearance: none;
    appearance: none; */
    width: 100%;
    height: 8px;
    background: transparent;
    position: absolute;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #8f8f93;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
    border: 2px solid #fff;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #8f8f93;
    border-radius: 50%;
    pointer-events: all;
    cursor: pointer;
    border: 2px solid #fff;
}

.cart-main {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .3s ease-in-out;
    align-items: center;
    overflow: hidden;
}

.cart-main-bas {
    text-align: end;
}

.bx-basket {
    font-size: 30px;
    color: red;
    position: relative;
}


#cart-count {
    position: absolute;
    top: 0;
    right: -5px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart {
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    width: max-content;
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: all .3s ease-in-out;
}

#price {
    color: red;
    font-size: 20px;
}

.add-to-cart:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.cart-main:hover .add-to-cart {
    display: block;
    position: absolute;
    top: 50%;
    transition: all .3s ease-in-out;
}

.add-to-cart p {
    margin: 0 !important;
}

.range-slider::after {
    left: var(--min, 0);
    right: calc(100% - var(--max, 100%));
}


/* --------------Start-Silderbar------------------- */
.siderbar {
    width: 210px;
}

.accordion {
    width: 100%;
    /* margin: 2rem auto; */
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1.4rem 1rem 1rem 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

input[type="checkbox"]#abst {
    display: block;
}

input[type="checkbox"] {
    display: none;
}

.accordion-item-body-content input {
    cursor: pointer;
}

input#minSlider {
    display: none;
}


.accordion-item-body-content .ip-check {
    color: #7082B0;
    margin: 0;
    font-size: 15px;
}

.col-4.siderbar {
    width: 320px;
}

/* main.main {
    position: absolute;
    top: 20px;
} */

#main-product {
    display: flex !important;
}

.color-item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.color-box {
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: border 0.3s ease;
}

.color-item input[type="checkbox"]:checked+.color-box {
    border-color: #000;
    /* Đổi màu theo ý thích */
}



@media(max-width:767px) {
    html {
        font-size: 14px;
    }
}

.name-product {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;

}

.cart-main {
    padding: 10px;
    cursor: pointer;
}

.cart-main img {
    width: 100%;
}

.cart-main:hover .bx-heart {
    display: block;
    transition: all .3s ease-in;
    color: red;
}

.img-product {
    height: 262px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s ease-in;
    position: relative;
}

i.bx.bx-heart {
    /* display: none; */
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    transition: all .3s ease-in-out;
    color: #7082B0;
}

.img-product:hover img {
    scale: 1.2;
    transition: all .3s ease-in;
}

/* --------------End-Silderbar------------------- */




.list-color {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px 10px 10px 16px;
}

.color-item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

/* Ẩn biểu tượng dấu tích mặc định */
.color-item i {
    display: none;
    color: white;
    /* Màu dấu tích */
    font-size: 16px;
    /* Kích thước dấu tích */
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
}

/* Hiển thị biểu tượng khi checkbox được chọn */
.color-item input[type="checkbox"]:checked+i {
    display: inline;
}

/* Tùy chỉnh color-box */
.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: 2px solid transparent;
    border-radius: 3px;
    position: relative;
}

label.color-item {
    position: relative;
}

i#checked-test {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translate(0px, 2px);
}

.basket-shake {
    animation-name: shake;
    animation: shake 6s 0.5s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    1% {
        transform: rotate(30deg);
    }

    3% {
        transform: rotate(-28deg);
    }

    5% {
        transform: rotate(34deg);
    }

    7% {
        transform: rotate(-32deg);
    }

    9% {
        transform: rotate(30deg);
    }

    11% {
        transform: rotate(-28deg);
    }

    13% {
        transform: rotate(26deg);
    }

    15% {
        transform: rotate(-24deg);
    }

    17% {
        transform: rotate(22deg);
    }

    19% {
        transform: rotate(-20deg);
    }

    21% {
        transform: rotate(18deg);
    }

    23% {
        transform: rotate(-16deg);
    }

    25% {
        transform: rotate(14deg);
    }

    27% {
        transform: rotate(-12deg);
    }

    29% {
        transform: rotate(10deg);
    }

    31% {
        transform: rotate(-8deg);
    }

    33% {
        transform: rotate(6deg);
    }

    35% {
        transform: rotate(-4deg);
    }

    37% {
        transform: rotate(2deg);
    }

    39% {
        transform: rotate(-1deg);
    }

    41% {
        transform: rotate(1deg);
    }

    43% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0);
    }
}

.shake {
    animation: shake 1s ease-in-out;
}

#cart-modal {
    position: relaative;
    display: none;
}


#cart-modal li {
    list-style: none;
    margin: 10px 0;
}

.list-cart-shopping {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* #close-model {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    color: #fff;
} */

button.decrease,
button.increase {
    width: 30px;
    border-radius: 10px;

}

span.quantity {
    margin: 0 6px;
}

button.remove-item {
    padding: 4px;
    border-radius: 10px;
}

i#ico-main {
    cursor: pointer;
}

/* div#cart-modal {
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: -200%;
    transition: all .3s ease-in-out;
} */

ul#cart-list {
    padding: 0 !important;
}

.cart-modal-show {
    top: 50%;
    left: 0;
    transition: all .3s ease-in-out;
}

table#cart-list {
    padding: 15px;
    width: 100%;
}

table#cart-list img {
    width: 78px;
    height: auto;
}





/* Đặt màu nền cho hàng chẵn */
#cart-list tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Màu nền sáng cho hàng chẵn */
}

/* Đặt màu nền cho hàng lẻ */
#cart-list tr:nth-child(odd) {
    background-color: #ffffff;
    /* Màu nền trắng cho hàng lẻ */
}

/* Tùy chỉnh khi di chuột qua các hàng để thêm hiệu ứng */
#cart-list tr:hover {
    background-color: #e0e0e0;
    /* Màu nền khi di chuột qua hàng */
}


.main-order-left li,
.main-order-right li {
    color: #8f8f93;
    font-size: 19px;
    font-weight: 400;

}

.order-summary {
    position: relative;
    margin: 30px 0;
    padding: 20px 0;
}

.order-summary::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the line */
    content: "";
    width: 100%; /* Adjust the width */
    height: 1px;
    background-color: #cfcfd1;
}


.order-summary::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the line */
    content: "";
    width: 100%; /* Adjust the width */
    height: 1px;
    background-color: #cfcfd1;
}

.main-order {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.sum-money {
    color: red;
}


.continu-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.checkout-shopping,
.continue-shopping {
    font-size: 19px;
    padding: 10px 20px;
    width: 40%;
    text-align: center;
border-radius: 10px;
}

.checkout-shopping {
    background-color: blue;
    color: #fff;
    cursor: pointer;transition: all .3s ease-in-out;
}

.continue-shopping {
    border: 1px solid #d4d4d8;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.continue-shopping:hover {
    background-color: blue;
    color: #fff;
    
}

.checkout-shopping:hover {
    background-color: #F3F2F2;
    border: 1px solid #d4d4d8;
    color: #000;
}

/* body::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0;
    right: -100%;
    z-index: 99999999999999;
} */
